@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
}
html{
    scroll-behavior: smooth;
}
.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}
/* navbar */

.navbar{
    position: fixed;
    width: 100%;
    font-family: 'Ubuntu' , sans-serif;
    padding: 15px 0;   
    transition: all 0.3s ease;
    z-index: 999;
}
.navbar.sticky{
    background-color: #00804b;
    padding: 30px 0;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar .logo a {
    color: #fff;
    font-size: 35px;
    font-weight: 500;
}
.navbar .logo a span{
    color: #00804b;
    transition: all 3s ease;
}
.navbar.sticky .logo a span{
    color: #0F0F0F;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu.active{
    left: 0;
}
.navbar .menu li a:hover{
    color: #00804b;
}
.navbar.sticky .menu li a:hover{
    color: #0F0F0F;
}
/* <!-- home inicio --> */
.home{
    width: 100%;
    display: flex;
    background: url('./img/keepCoding-editado.jpg') no-repeat center ;
    background-color: #0F0F0F;
    height: 100vh;
    color: #fff;
    min-height: 500px;
    font-family: 'Ubuntu' , sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px ;
}
.home .max-width .home-content .text-1{
    font-size: 27px;
}
.home .max-width .home-content .text-2{
    font-size: 75px;
    font-weight: 500;
    margin-left: -3px; 
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-3 span{
    color: #00804b;
    font-weight: 500;
}
.home .home-content a{
    display: inline-block;
    background: #00804b;
    color: #fff;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 20px;
    border-radius: 6px;
    border: 2px solid #00804b;
}
.home .home-content a:hover{
    color: #00804b;
    background: none;
}
/* menu mobile */

.menu-btn{
    color: #fff;
    font-size: 26px;
    cursor: pointer;
    display: none;
}
.wpp-btn{
    position: fixed;
    width: 42px;
    height: 45px;
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 45px;
    color: #03D25F;
    font-size: 50px;
}
.wpp-btn a{color:#03D25F}
/* codigos similares */
section{
    padding: 100px 0;
}
section .title{
    font-family: 'Ubuntu' , sans-serif;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 60px;
    padding-bottom: 20px;
    position: relative;
}
section .title::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 180px;
    height: 1px;
    background: #111;
    transform: translateX(-50%)
}
section .title::after{
    content: "";
    position: absolute;
    bottom:-12px;
    left: 50%;
    font-size: 20px;
    background: #fff;
    color: #00804b;
    padding: 5px;
    transform: translateX(-50%)
}


.about, .services, .skills, .teams, footer{
    font-family: 'Roboto' , sans-serif;
}
.about .about-content, .services .services-content, .skills .skills-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
/* sessão sobre */
.about .title::after{
    content: "Quem sou eu";

}
.about .about-content .colum-left{
    width: 45%;
}
.about .about-content .colum-rigth{
    width: 55%;
}
.about .about-content .colum-rigth .text{

    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}

.about .about-content .colum-rigth .text span{
    color: #00804b;
}
.about .about-content .colum-rigth .text p{
    text-align: justify;
}

.about .max-width .about-content .colum-rigth a{
    display: inline-block;
    background: #00804b;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px; 
    border: 2px solid #00804b;
    transition: all 0.3s ease;
}
.about .max-width .about-content .colum-rigth a:hover{

    color: #00804b;
    background: none;
}


.about .about-content .colum-left img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 6px;
}

/* seção serviços */
.services, .teams{
    background: #111;
    color: #fff;
    
}
.services .title::before, .teams .title::before{
    background: #fff;
}
.services .title::after,.teams .title::after{
    background: #111;
    content: ""; 
}
.services .max-width .services-content .card1,.services .max-width .services-content .card2,.services .max-width .services-content .card3 {
    width: calc(33% - 20px);
    background: #222;
    text-align: center;
    border-radius: 6px;
    padding: 20px 25px;
    cursor: pointer;
    transition: all 1s ease;
}
.services .max-width .services-content .card1:hover, .services .max-width .services-content .card2:hover, .services .max-width .services-content .card3:hover{
    background: #00804b77;
}
.services .max-width .services-content .card1 .box, .services .max-width .services-content .card2 .box, .services .max-width .services-content .card3 .box{
    transition: all 0.3s ease;
}
.services .max-width .services-content .card1:hover .box, .services .max-width .services-content .card2:hover .box, .services .max-width .services-content .card3:hover .box{
    transform: scale(1.05);

}
.services .max-width .services-content .card1 ion-icon, .services .max-width .services-content .card2 ion-icon,.services .max-width .services-content .card3 ion-icon{
    font-size: 50px;
    color: #00804b;
}

.services .max-width .services-content .card1 .text, .services .max-width .services-content .card2 .text, .services .max-width .services-content .card3 .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.services .max-width .services-content .card1:hover ion-icon{
    color: #2862e9;
    font-size: 100px;
}

.services .max-width .services-content .card2:hover ion-icon{
    color: #E96228;
    font-size: 100px;
}
.services .max-width .services-content .card3:hover ion-icon{
    color: #D6002F;
    font-size: 100px;
}

/* seção especialidade */
.skills .title::after{
    content: "Que faço";
}
.skills .skills-content .colum-rigth,.skills .skills-content .colum-left{
    width: calc(50% - 30px);
}
.skills .skills-content .colum-left .text{
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 10px;
}
.skills .skills-content .colum-left p{
    text-align: justify;
}
.skills .skills-content .colum-left a{
    display: inline-block;
    background: #0A66C2;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    padding: 10px 30px;
    margin-top: 20px;
    border-radius: 6px; 
    border: 2px solid #222;
    transition: all 0.3s ease;
}
.skills .skills-content .colum-left a:hover{
    color: #00804b;
    background: none;
}
.skills .skills-content .colum-rigth .bars{
    margin-bottom: 15px;
}
.skills .skills-content .colum-rigth .info{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.skills .skills-content .colum-rigth span{
    font-weight: 500;
    font-size: 18px;
}

.skills .skills-content .colum-rigth .line{
    width: 100%;
    height: 5px;
    background: #ccc;
    position: relative;
}
.skills .skills-content .colum-rigth .line::before{
    content: "";
    position: absolute;
    
    height: 100%;
    top: 0;
    left: 0;
    background: #03D25F;
}
.skills .skills-content .colum-rigth .html::before{
    width: 93%;
}
.skills .skills-content .colum-rigth .css::before{
    width: 85%;
}
.skills .skills-content .colum-rigth .JavaScript::before{
    width: 87%;
}
.skills .skills-content .colum-rigth .Angular::before{
    width: 66%;
}
.skills .skills-content .colum-rigth .SQLServer::before{
    width: 47%;
}
/* sessão equipe */

.teams .title::after{
    content: "Personalizados";
}
.teams .carousel .card{
    background: #222;
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover{
    background: #03D25F;
    color: #0F0F0F;
}
.teams .carousel .card img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 1.5px solid #F8A403;
    transition: all 0.3s ease;
}

.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 25px;
    font-weight: 500;
    margin: 10px 0 7px 0;
}
.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    width: 14px;
    height: 14px;
    outline: none!important ;
    border-radius: 50%;
    border: 2px solid #03D25F!important;
    transition: all 0.7s ease;
}
.owl-dot.active{
    width: 35px;
    border-radius: 15px;
}
.owl-dot.active,.owl-dot.active:hover{
    background: #00804b42!important;
}

/* footer */
footer{
    background: #222;
    padding: 20px 23px;
    color: #fff;
    text-align: center;
}
footer span a{
    color: #03D25F;
}
footer span a:hover{
    text-decoration: underline;
}



/* responsivo */
@media (max-width: 1300px){
    .navbar .max-width{
        margin-left: 0;
    }
}
@media (max-width: 1104px){
    .about .about-content .colum-left img{
        width: 350px;
        height: 350px;
    }
}

@media (max-width: 991px){
    .navbar .max-width{
        max-width: 800px;
        padding: 0 50px; 
    }

}

@media(max-width: 925px ){
    .max-width{
        padding:0 50px ;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .navbar .menu{
        position: fixed;
        width: 100%;
        height: 100vh;
        left: -100%;
        top: 0;
        background: #111;
        padding-top: 80px;
        text-align: center;
        transition: all 0.3s ease;
    } 
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
    }
    .home  .home-content .text-2{
        font-size: 60px; 
    }
    .home .home-content .text-3{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 23px;
        padding: 10px 30px;
    }
    .about .about-content .colum-rigth{ 
        width: 50%;
    }
    .about .about-content .colum-left{ 
        width: 50%;
    }
    .about .about-content .colum-rigth{
        flex: 100%;
    }
    .about .about-content .colum-left{
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
    }
    .services .max-width .services-content .card1,.services .max-width .services-content .card2, .services .max-width .services-content .card3{
        width: calc(50% - 10px);
        margin-bottom: 20px;
    }
    .skills .skills-content .colum-rigth, .skills .skills-content .colum-left{
        width: 100%;
        margin-bottom: 25px;
    }
}

@media (max-width: 690px){
    .home .max-width .home-content .text-2{
        font-size: 60px;
    }
    .home .max-width .home-content .text-2{
        font-size: 32px;
    }
    .home .home-content a{
        font-size: 20px;
    }
    .about .about-content .colum-rigth{ 
        width: 50%;
    }
    .about .about-content .colum-left{ 
        width: 50%;
    }
    .services .max-width .services-content .card1,.services .max-width .services-content .card2, .services .max-width .services-content .card3{
      width: 100%;
    }
}

@media (max-width: 500px){
    .home .max-width .home-content .text-2{
        font-size: 50px;
    }
    .home .max-width .home-content .text-2{
        font-size: 27px;
    }
    .about .about-content .colum-rigth{ 
        width: 50%;
    }
    .about .about-content .colum-left{ 
        width: 50%;
    }

}